*{
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/*This is the space for the entire navigation bar */
nav{
    display: flex;
    background: black;
    border: 10px solid black;
    width: 100%;
    margin: -10px 20px 0px -10px;
}

/* Styles each of the four links */
.nav-link {
    color: gold;
    margin-right: 10px;
    font-size: 0.9em;
    
}

/* Styles for when each link is being clicked on */
.nav-link:active{
    color: white;
    text-decoration: none;
    border: 1px dashed gold;
}

/* Removes the underline when each link is hovered on */
.nav-link:hover{
    text-decoration: none;
}

/*  Container for each individual flexbox item.  nav is the parent with display: flex*/
#nav-container{
    margin-top: 15px;
}


/* Grays out the Michigan Tech image in the navbar while it's hovered on */
img:hover{
    filter:grayscale(100%);
}



/*Width of the Google Calendar Display */
iframe{
    width: 100%;
}


h1{
    text-align: center;
}

h3{
text-align: center;
font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}





/*Each section is each box that is contained within the grid */
section{
    border: 2px solid black;
}


#inventory-button{
    background-color: black;
    color: gold;
    text-align: center;
    font-size: 1.15em;
    padding: 10px 10px;
}



/* This is all the CSS for the grid showing the items available in general */
#available-food-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#grid-section-one{
    grid-row: 1 / 2;
    grid-column: 0 / 1;
}
#grid-section-two{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#grid-section-three{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#grid-section-four{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
#grid-section-five{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

/*Include some media queries below.  I would create a dropdown
that includes each of the individual links, rather than have them display
as they are now.  Easier to manage. */

    